ul{
    display: flex;
    margin-bottom: 0px;
}
li{
    margin: 20px;
    list-style: none;
}
li a{
    text-decoration: none;
}

.container1{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
 
}

.btn1{
    background-color:blueviolet;
    color: white;
}

